<?xml version="1.0"?>
<!--
// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CloudStack.SDK.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CloudStack.SDK.Test.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value/>
            </setting>
            <setting name="User" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="TemplateId" serializeAs="String">
                <value/>
            </setting>
            <setting name="ZoneId" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServiceOfferingId" serializeAs="String">
                <value/>
            </setting>
            <setting name="SubnetId" serializeAs="String">
                <value/>
            </setting>
            <setting name="DeployStopped" serializeAs="String">
                <value>False</value>
            </setting>
        </CloudStack.SDK.Test.Properties.Settings>
    </userSettings>
</configuration>
